.container {
  font-family: Montserrat;
  width: 360px;
  margin: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_logo img {
  height: 22px;
  width: 19px;
}

.header_logo p {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.honey-text_buying {
  margin-top: 73px;
  position: absolute;
  height: 210px;
  width: 360px;
  background-color: #C4C4C4;
  mix-blend-mode: multiply;
}

.honey-text_positioning {
  position: relative;
}

.honey-text_head-text {
  color: white;
}

.honey-text_button {
  height: 36px;
  width: 180px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 18px;
  font-size: 15px;
  font-weight: 400;
}

.honey-text_image {
  height: 623px;
  overflow: hidden;
}

.honey-text_image img {
  position: relative;
  width: 928.6px;
  height: 623px;
  left: -525px;
  z-index: -1;
}

.honey-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.honey-type_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.honey-type_arrow-left {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.honey-type_item img {
  height: 229px;
  width: 200px;
}

.honey-type_arrow-right {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.honey-type_rounds {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.rounds {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid black;
}

.active {
  margin: 3px 3px;
  border-radius: 50%;
  border: 1px solid black;
  height: 18px;
  width: 18px;
  background-color: black;
}

.footer {
  text-align: center;
}
